#header {
  height: 10%;
}

.flex-container {
    display: flex;
    height: 60%;
}

#map {
    width: 70%;
}

#sidescroll {
    width: 30%;
    overflow: none;
}

#sidescroll > ul {
    overflow-x: hidden;
    overflow-y: scroll;
    list-style-type: none;
    text-align-last: left;
    height: 80%;
}

#sidescroll > p {
    margin: auto;
    width: 50%;
}

.chart-container {
    display: flex;
    height: 30%;
}

.chart-container > div {
    width: 50%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.weather p {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    display: block;
    min-width: 220px;
}

.weather img {
    float: right;
}
