<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Flask app</title>
	<meta name="description" content="First index.html">
	<meta name="Author" content="Cyclepaths">

	<!-- <link rel="style" href="css/styles.css" -->	
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" >
	<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</head>

<body>
	<div id="header">
		<h1>Cyclepaths at work...</h1>
	</div>

	<div id="map">
		
	</div>
</body>
</html>
